@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
 --near-black: #333333;
 --steel-blue: #507DBC;
 --orangey: #D16014;
 --near-white: #E6E6E9;
 --reddish: #D10000;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--near-black);
  font-family: 'Ubuntu', sans-serif;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 25vh 75vh;
}


p {
  color: #ffffff;
  width: 48ch;
  font-weight: 300;
  line-height: 2;
  font-size: 1rem;
}


.sidebar {
  grid-column: 1;
  grid-row: 1 / span 2;
  background-color: var(--reddish);
  width: 100%;
}

.branding {
  display: grid;
  grid-template-columns: 77px 1fr;
  align-items: center;
  padding: 1rem;
  margin-top: .5rem;
}

#po-logo {
  height: 60px;
  grid-column: 1;
}

.branding > h1 {
  grid-column: 2;
  font-size: 2rem;
  color: #ffffff;
  font-weight: 700;
  padding: 0;
  margin: 0;
}


.dashboard-links {
  display: grid;
  grid-template-rows: repeat(10, 2.5rem);
  margin-top: 3rem;
}

.sidebar-svg {
  fill: #ffffff;
  height: 1.5rem;
}

.sidebar-link-text {
  text-decoration: none;
  color: #ffffff;
}

.svg-plus-link {
  display: grid;
  grid-template-rows: 2.5rem;
  grid-template-columns: 1fr 4fr;
  margin-left: 2rem;
  align-items: center;
}

.main-links {
  grid-row: 1 / 7;
}

.support-links {
  grid-row: 8 / 11;
}

.header {
  grid-column: 2;
  grid-row: 1;
  background-color: var(--steel-blue);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 4fr;
}

.header-svg {
  fill: var(--near-white);
  height: 1.5rem;
}

.search {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1.5fr;
  align-items: center;
  grid-column: 1;
  grid-row: 1;
  padding: 1rem;
}

.search > input {
  border-radius: 10px;
  background-color: var(--near-white);
  max-width: 40rem;
}

.search > svg {
  justify-self: center;
}

.user-menu {
  display: grid;
  grid-template-columns: 3rem 4rem 10rem;
  align-items: center;
  grid-column: 2;
  grid-row: 1;
}

.user-menu > h3 {
  color: var(--near-white)
}

.user-info {
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: 25px 1fr;
  grid-row: 2;
  grid-column: 1;
  grid-column-gap: 1rem;
  margin-left: 3rem;
}

.user-info > p {
  grid-row: 1;
  grid-column: 2;
}

.user-info > h2 {
  color: var(--near-white);
  grid-row: 2;
  grid-column: 2;
}

.user-info > img {
  grid-row: 1 / span 2;
}

.user-image {
 height: 5rem;
 border-radius: 50%;
}

.small-user-image {
  height: 3rem;
}

.main {
  grid-column: 2;
  grid-row: 2;
}