@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
 --near-black: #333333;
 --steel-blue: #507DBC;
 --orangey: #D16014;
 --near-white: #E6E6E9;
 --reddish: #D10000;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--near-black);
  font-family: 'Ubuntu', sans-serif;
  display: grid;
  grid-template-columns: 300px 1fr;
}


p {
  color: #ffffff;
  width: 48ch;
  font-weight: 300;
  line-height: 2;
  font-size: 1rem;
}

.header {
  grid-column: 2;
  background-color: var(--steel-blue);
  height: 20%;
}

.sidebar {
  grid-column: 1;
  grid-row: 1;
  background-color: var(--reddish);
  width: 100%;
  height: 100vh;
}

.branding {
  display: grid;
  grid-template-columns: 77px 1fr;
  align-items: center;
  padding: 1rem;
}

#po-logo {
  height: 77px;
  grid-column: 1;
}

.branding > h1 {
  grid-column: 2;
  font-size: 2rem;
  color: #ffffff;
  font-weight: 700;
  padding: 0;
  margin: 0;
}


.dashboard-links {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  gap: .5rem;
}

.sidebar-svg {
  fill: #ffffff;
  height: 1.5rem;
}

.sidebar-link-text {
  text-decoration: none;
  color: #ffffff;
}

.svg-plus-link {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-left: 2rem;
  align-items: center;
}

.main-links {
  grid-row: 1 / 7;
}

.support-links {
  grid-row: 8 / 11;
}